{% extends 'base.html' %}

{% block title %}bookmark_list.html{% endblock title %}

{% block content %}
<h1>Bookmark List</h1>
<br>

<ul>
    {% for bookmark in object_list %}
        <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}

{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Django Bookmark</title>
</head>

<body>
    <div id='content'>
    <h1>Bookmark List</h1>
    <ul>
        {% for bookmark in object_list %}
            <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
    </ul>
    </div>
</body>
</html> {% endcomment %}